<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.archidni.archidni">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAmYvO7yTRJbWVCYK1B1Rp3CDOwwictb-c" />

        <activity android:name=".Ui.Main.MainActivity" />
        <activity
            android:name=".Ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.Search.SearchActivity"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Ui.PathSearch.PathSearchActivity"
            android:label="@string/plan_path"
            android:parentActivityName=".Ui.Main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.SetLocation.SetLocationActivity"
            android:label="Selectionner un emplacement"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".Ui.Station.StationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.Line.LineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.SearchLineStation.SearchLineStationActivity"
            android:label="Rechercher une ligne ou une station"
            android:parentActivityName=".Ui.Main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Ui.PathDetails.PathDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.PathNavigation.PathNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LogInTheme" />
        <activity
            android:name=".Ui.Signup.SignupActivity"
            android:label="Inscription"
            android:screenOrientation="portrait"
            android:theme="@style/LogInTheme" />
        <activity
            android:name=".Ui.Favorites.FavoritesActivity"
            android:label="Mes favoris"
            android:parentActivityName=".Ui.Main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".Ui.Settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Ui.TarifsActivity" />
        <activity android:name=".Ui.BusTarifsActivity" />
        <activity android:name=".Ui.MetroTarifsActivity" />
        <activity android:name=".Ui.TramwayTarifsActivity" />
        <activity android:name=".Ui.TrainTarifsActivity" />
        <activity android:name=".Ui.TermsOfUseActivity" />
        <activity android:name=".Ui.AboutActivity" />
        <activity android:name=".Ui.TelephericTarifsActivity"></activity>
    </application>

</manifest>